@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
}
.section{
  width: 717px;
  background: url("../img/image.png") no-repeat;
  display: block;
  margin: 100px auto auto;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
textarea{
  width: 590px;
  height: 129px;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  padding-bottom: 100px;
}
button{
  width: 144px;
  height: 41px;
  background: #0F54B9;
  border: 1px solid #0F54B9;
  box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
  border-radius: 21px;
  margin-top: 20px;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
  &:hover{
    cursor: pointer;
  }
}
.messages-sends{
  display: flex;
  margin-top: 20px;
}
.messages-right{
  margin-top: 120px;
  float: right;
}
.messages-left{
  margin-right: 200px;
}
.messages{
  height: 517px;
  word-wrap:break-word;
  overflow: auto;
}
.data {
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
  :before {
    content: '';
    margin-left: -100%;
    left: -14px;
    display: inline-block;
    vertical-align: middle;
    width: 350px;
    height: 2px;
    background-color: white;
    position: relative;
  }
    :after {
      content: '';
      margin-right: -100%;
      right: -14px;
      display: inline-block;
      vertical-align: middle;
      width: 350px;
      height: 2px;
      background-color: white;
      position: relative;
    }
  }

  .messages-date {
    display: inline-block;
    vertical-align: middle;
  }

  .profileImage {
    width: 47px;
    height: 47px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .messages-text {
    font-family: 'Roboto Regular', sans-serif;
    background: #F1F3F5;
    border-radius: 5px;
    padding: 15px;
  }
.messages-second{
  margin-top: 20px;
}
.messages-third{
  margin-top: 90px;
}
  .sendMessage {
    border-top: 1px solid #fff;
    padding: 20px;
  }
